#
# Patch Report
#
Generated on: {{ ansible_date_time.date }} at {{ ansible_date_time.time }}

Host: {{ inventory_hostname }}
OS: {{ ansible_distribution }} {{ ansible_distribution_version }}

# Results from patching
{% for line in test_change.results %}
- {{ line }}
{% endfor %}